body{
    background-color: #2a5d5a;




}
h1{
    text-align: center;color: white;font-size: 50px;background-color: #311313;margin: 30px 441px;
}



.qora{
    background-color: black;border: 1opx solid red;
    padding:  50px;margin: 100px 220px;
}

p{
    background-color: #1fe8b7;font-size: 70px;font-weight: 700; padding: 54px 40px; 
}












